@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
}

@layer base {
  html {
    font-family: "Ubuntu", sans-serif;
  }
}

.logoStrokeTop {
  -webkit-text-stroke: 2px #431567;
  text-stroke: 2px #431567;
}
.logoStrokeBot {
  -webkit-text-stroke: 1px #000000;
  text-stroke: 2px #000000;
}
